<%@ include file="/WEB-INF/jspf/directive/page.jspf" %>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf" %>


<head>

    <title>
        ${title}
    </title>

    <%--===========================================================================
    Bind CSS document.
    ===========================================================================--%>
    <link rel="stylesheet" type="text/css" media="screen" href="style/st4.css"/>

    <%--===========================================================================
    If you define http-equiv attribute, set the content type and the charset the same
    as you set them in a page directive.
    ===========================================================================--%>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        table {
            margin: auto;
        }
        td {
            text-align: center;
        }

        .navbar navbar-inverse ul{
            font: 16px Verdana;
            color: #FFFFFF;
        }

         ul {
             font: 14px Verdana, Geneva, sans-serif;
             text-align: justify;
         }

        ul li  {
            display: inline-block;
            text-align: left;
        }
        ul li.helper {
            width: 100%;
            height: 0;
            visibility: hidden;
        }

    </style>
</head>