<%@ include file="/WEB-INF/jspf/directive/page.jspf" %>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf" %>

<c:set var="command" value="${not empty param.command ? param.command : not empty command ? command : pageContext.request.locale}" scope="session" />
<fmt:setLocale value="${command}" />

<head>
    <form method="post">
        <input type="hidden" name="view" value=" ${pageContext.request.servletPath}">
        <select name="command" onchange="submit()" >
            <option value="ru" ${command == 'ru' ? 'selected' : ''} ><fmt:message key="language_menu_jspf.language.russian"/></option>
            <option value="en" ${command == 'en' ? 'selected' : ''} >English</option>
        </select>
    </form>
</head>